* {
  box-sizing: border-box;
  margin: 0 !important;
  padding: 0 !important;
}

@font-face {
  font-family: "MyCustomFont";
  src: url("./font/Caveat-Bold.ttf") format("truetype");
  /* url('./font/Caveat-Medium.ttf') format('truetype'),
         url('./font/Caveat-Regular.ttf') format('truetype'),
         url('./font/Caveat-SemiBold.ttf') format('truetype'); */
}

body {
  font-family: "MyCustomFont";

  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
   height: 100vh;
  /* background: #fffaf2; */
}
.invitation {
  /* height: 100vh; */
  height: 100%;
  margin: 0 auto;
  position: relative;
  background: #fffaf2;
}

.wedding-flower {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.wedding-leaf {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  /* padding-top: 50px; */
  position: relative;
  z-index: 1;
}
.heading {
  font-size: 28px;
}
.couple-img {
  width: 35%;
}
.map {
  color: olive;
  font-weight: bold;
  text-align: center;
  margin-top: 16px;
}
a {
  text-decoration: none !important;
  color: olive;
}
a:hover {
  color: olive;
}
.name-card-img {
  width: 65%;
}

.date-card-img {
  width: 60%;
  display: inline-block;
  margin-top: 24px;
}

.location {
  width: 60%;
  text-align: center;
  font-size: 22px;
}

@media only screen and (min-width: 200px) and (max-width: 767px) {
  .heading {
    font-size: 24px;
  }
  body{
    height: fit-content 
  }
 
}
